body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-color: #454b4a;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.header-left a:hover {
    background-color: #555;
}

.header-right {
    display: flex;
    align-items: center;
}

.welcome {
    margin-right: 10px;
}

.logout {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.logout:hover {
    background-color: #c9302c;
    border-color: #ac2925;
}

.container {
    padding: 20px;
    padding-bottom: 60px; /* Ajout de padding en bas pour éviter le chevauchement avec le footer */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}


.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 50%;
    margin: 20px auto;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}